<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>controlador.servletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletReserva</servlet-name>
        <servlet-class>controlador.servletReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletMesa</servlet-name>
        <servlet-class>controlador.servletMesa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletReceta</servlet-name>
        <servlet-class>controlador.servletReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRecetas</servlet-name>
        <servlet-class>controlador.servletRecetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPedido</servlet-name>
        <servlet-class>controlador.servletPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCarrito</servlet-name>
        <servlet-class>controlador.servletCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBorrarItem</servlet-name>
        <servlet-class>controlador.servletBorrarItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPago</servlet-name>
        <servlet-class>controlador.servletPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletProducto</servlet-name>
        <servlet-class>controlador.servletProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCerrarSesion</servlet-name>
        <servlet-class>controlador.servletCerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletReserva</servlet-name>
        <url-pattern>/servletReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletMesa</servlet-name>
        <url-pattern>/servletMesa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletReceta</servlet-name>
        <url-pattern>/servletReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRecetas</servlet-name>
        <url-pattern>/servletRecetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPedido</servlet-name>
        <url-pattern>/servletPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCarrito</servlet-name>
        <url-pattern>/servletCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBorrarItem</servlet-name>
        <url-pattern>/borrarItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPago</servlet-name>
        <url-pattern>/pagar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletProducto</servlet-name>
        <url-pattern>/producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
